<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>
                15.2.regulatory Compliance Checklist
            </h4>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:70%">Prohibition on Landing</th>
                        <th>Confirm</th>
                        <th colspan="4" rowspan="6">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1. The Borrower(s), Shareholder(s)/Proprietor/Partner(s) of this borrowing unit, Personal Guarantor, Collateral Owner
                            or their undivided family member(s) are not the Dirtector/ Promoter/ Chef Executive Officer/ EMployee/ Statutory Auditor/
                            enlisted valuator/Shareholder holding more than 1% of total paid up capital of Sanima bank /Shareholder having financial interest in Sanima Bankl / Managing agent/ Advisor of Sanima Bank.
                        </td>
                        <td>
                            <input type="checkbox" value="" class="form-control checkbox">
                        </td>
                        <td>
                            <textarea type="text" class="form-control" id="remarks_1"></textarea>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            2. The Borrower(s), Shareholder(s)/Proprietor/Partner(s) of this borrowing unit, Personal Guarantor, Collateral Owner(s)
                            is/ are not the close relatives of Director,employee, Chief Executive Officer, Advisor, Promotor, Managing Agent of Sanima Bank. If yes approval
                            of the Board of Directors of Sanima Bank is in place/ has been sought.

                        </td>
                        <td>
                            <input type="checkbox" value="" class="form-control checkbox">
                        </td>
                        <td>
                            <textarea type="text" class="form-control" id="remarks_1"></textarea>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            3. The Borrower(s) are not the Risk Taker as defined by NRB directive i.e. Director, CEO, employee at managerial level in any BFIs licensed by NRB,
                            (This clause is not appliances,Credit card and Loan against government bond.)

                        </td>
                        <td>
                            <input type="checkbox" value="" class="form-control checkbox check-square">
                        </td>
                        <td>
                            <textarea type="text" class="form-control" id="remarks_1" ></textarea>

                        </td>
                    </tr>

                </tbody>

            </table>

        </div>
    </div>
</div>
